.sensor {
    min-width: 25%;
    float: left;
}

h1 {
    color: white;
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
    font-size: 10em;
}

.dark {
    background-color: #424242;
    color: white;
}

.light {
    background-color: #F2F2F2;
    color: #282828;
}

.cold {
    background-color: #43A1FE;
    color: white;
}

.hot {
    background-color: #FE9241;
    color: white;
}

.good {
    background-color: #26ED58;
    color: #282828;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3.5em;
    padding-bottom: 0.175em;
    padding-left: 0.175em;
    padding-right: 0.175em;
    width: 100%;
}

h2.dark {
    background-color: #282828;
}

h2.light {
    background-color: #DBDBDB;
    color: #282828;
}

h2.cold {
    background-color: #268AED;
}

h2.hot {
    background-color: #ED7728;
}

h2.good {
    background-color: #0FBD3B;
    color: #282828;
}



