.valueDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 5em;
    outline: 0;
    width: 100%;
    flex-grow: 2;
}

.valueDisplay.dark {
    border: 5px solid white;
    color: white;
}

.valueDisplay.light {
    border: 5px solid #282828;
    color: #282828;
}
